@model MyTinyCollege.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        @*jyoung: added student enrollment*@
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                    <th>&nbsp;</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=>item.course.Title)</td>
                        <td>@Html.DisplayFor(modelItem=>item.Grade)</td>
                        <td>
                            @*Add or edit grade links*@
                            @if (String.IsNullOrEmpty(item.Grade.ToString()))
                            {
                                //no grade - create add grade link
                               // @:AddGrade
                               <a href="@Url.Action("Edit","Enrollment",new { id = item.EnrollmentID })" title="Add Grade">Add Grade </a>
                               <span class="glyphicon glyphicon-pencil"></span>
                            }
                            else
                            {
                                //grade - create edit grade link
                               // @:EditGrade
                                <a href="@Url.Action("Edit","Enrollment",new { id = item.EnrollmentID })" title="Add Grade">EditGrade </a>
                                <span class="glyphicon glyphicon-edit"></span>
                            }
                        </td>

                    </tr>
                }
            </table>
        </dd>
        @* end student enrollment*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
